/* Tänne tyylit */
* {
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
    background-image: url('img/forest-g54e05bba7_1920.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    color: #372828;
    font-family: 'Palatino', 'Times New Roman', Times, serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    line-height: 1.7;
}
h1 {
    font-size: 32px;
}
.sivu {
    max-width: 1400px; 
    margin-left:auto; 
    margin-right:auto;
    
}
.header {
    background-color: rgb(55, 40, 40, 0.6);
    color:#e9e2e2;
    text-align: center;
    padding: 1em;
    padding-top: 53px;
}
/* .middleleft {
    padding: 3%;
    padding-bottom: 0;
    background-color: rgb(111, 81, 81, 0.9);
    width: 33%;
    float: left;
    height: 25em;
}
.middleright {
    padding: 3%;
    padding-bottom: 0 ;
    background-color: rgb(233, 226, 226, 0.9);
    color:#372828;
    width: 55%;
    float: left;
    height: 25em;
    margin: 0 auto;
} */
.leftcol {
    float: left;
    background-color:rgb(111, 81, 81, 0.9);
    color:#e9e2e2;
    width: 33%;
    padding: 3%;
    height:95em;
    min-height: 1550px;
}
.rightcol {
    float: left;
    background-color:rgb(233, 226, 226, 0.9);
    padding: 3%;
    width: 55%;
    height: 95em;
    min-height: 1550px;
}
img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 10px;
    padding: 5px;
}
table {
    border: none;
    padding-bottom: 5px;
    margin-left: 20px;
}
td {
    text-align: left;
    padding-right: 15px;
}
.td {
    padding-left: 15px;
    border-left:#e9e2e2 solid 1px;
}
.rightcoltr {
    padding-left: 15px;
}
nav {
    margin: 0 auto;
    text-align: center;
    position:fixed;
    width: 100%;
    height: 55px;
    max-width: 1400px;
}
.navbar {
    background-color: rgb(55, 40, 40, 0.9);;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    font-size: 16px;
}
li {
    float: left;
}
li a {
    display:block;
    color: #e9e2e2;
    padding: 14px 16px;
    border-left:#e9e2e2 solid 1px;
    border-right: #e9e2e2 solid 1px;
    border-radius: 12px;
}
li a:hover {
    background-color: rgb(233, 226, 226, 0.4);
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.button {
    background-color: rgb(233, 226, 226, 0.9);
    border: #372828 solid 1px;
    color: #372828;
    padding: 15px;
    text-align: center;
    border-radius: 12px;
    transition-duration: 0.2s;
    font-size: 16px;
}
.button1:hover {
    background-color: rgb(233, 226, 226, 0.5);
} 
footer {
    background-color:rgb(55, 40, 40, 0.9);
    color:#e9e2e2;
    text-align: center;
    padding: 0.5em;
    height: 2em;
    width: 100%;
    float: left;
}
